* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-bold-webfont.woff") format(woff);
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-bold-webfont.woff") format(woff);
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-medium-webfont.woff") format(woff);
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-light-webfont.woff") format(woff);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.header-nav {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 54px 700px 188px;
  justify-content: space-between;
  align-items: center;
}

.nav_btns_ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav_btns_ul :nth-child(1) a {
  color: red;
}
.nav_a {
  text-decoration: none;
  color: #7d7c7c;
}
.login {
  text-align: center;
  display: flex;
  gap: 12px;
  align-items: center;
}
.login :nth-child(1) {
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 7px 16px 8px 16px;
  border-radius: 10px;
}

.login :nth-child(2) {
  background-color: red;
  border: 1px solid red;
  padding: 7px 16px 8px 16px;
  border-radius: 10px;
  color: white;
}
.nav_login_a {
  text-decoration: none;
}

.nav_menu_sidbar {
  position: fixed;
  left: -200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  list-style-type: none;
  width: 200px;
  height: 100%;
  top: 32px;
  background-color: snow;
  z-index: 1;
}

#checkbox:checked ~ ul {
  left: 0px;
  transition: 0.5s all;
}

/* header bottom */

.header_bottom {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.hamburger_img {
  margin-left: 5rem;
  position: relative;
}

.hamburger_img img {
  width: 100%;
}

.delivery {
  border-radius: 50px 50px 0 50px;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 68px;
  left: -4rem;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e3e3e3;
}
.delivery_s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.delivery_p {
  color: #7d7c7c;
}

.header_matn_order {
  max-width: 379px;
  min-height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_matn_order_h1 {
  color: red;
  line-height: 80px;
  font-size: 48px;
  font-weight: 600;
  text-shadow: 0px 8px 5px rgba(119, 114, 114, 0.5);
}
.header_matn_order_p {
  color: #504f4f;
}

.header_bottom_order_p {
  color: #504f4f;
}
.header_bottom_order_btns {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: flex-end;
  gap: 0.8rem;
  width: 140px;
  height: 70px;
}

.yellow_btn_a {
  background-color: #ffc300;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 189px;
  height: 62px;
  border-radius: 100px;
  padding: 16px 24px 16px 24px;
  text-decoration: none;
}
.white_btn {
  border: 1px solid #504f4f;
  width: 140px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 16px;
  border-radius: 100px;
  gap: 1rem;
}

.white_btn_3 {
  width: 100%;
  color: #ffc300;
  border-right: 1px solid #f1f1f1;
  padding-right: 12px;
  border-left: 1px solid #f1f1f1;
  padding-left: 12px;
}
.white_btn svg {
  cursor: pointer;
}

/* menu */

.Menu {
  margin-top: 2rem;
}
.menu_h4 {
  font-size: 48px;
  color: red;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}
.menu_h4::before {
  content: "";
  display: inline-block;
  width: 140px;
  height: 10px;
  background-color: #ffc300;
  position: absolute;
  top: 28px;
  z-index: -1;
}

.menu_category {
  display: grid;
  grid-auto-columns: 165px;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
}
.menu_category_list {
  margin-top: 32px;
}
.menu_category_a:focus {
  background-color: #ffc300;
}
.menu_category_a {
  text-decoration: none;
  color: #7d7c7c;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  border-radius: 100px;
  padding: 8px 20px 8px 20px;
  justify-content: center;
  white-space: nowrap;
}

/* product */

.product {
  max-width: 370px;
  max-height: 363px;
  margin-top: 4rem;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  padding: 16px;
}
.product_img {
  text-align: center;
}
.product_img img {
  width: 100%;
}

.product_matn_h4 {
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 4px;
}
.product_matn_p {
  color: #504f4f;
  margin-bottom: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
.product_matn_span {
  color: #7d7c7c;
}
.product_peice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.product_peice img {
  width: 24px;
  height: 24px;
}

.product_peice p {
  font-weight: 600;
  cursor: #323232;
}

.see_all {
  margin-top: 2rem;
  text-align: center;
}
.see_all a {
  color: #7d7c7c;
}

/* sale off */

.sale_off {
  margin-top: 4rem;
}
.sale_off_p {
  width: max-content;
  font-size: 48px;
  color: red;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}
.sale_off_p::before {
  content: "";
  display: inline-block;
  width: 230px;
  height: 10px;
  background-color: #ffc300;
  position: absolute;
  top: 28px;
  z-index: -1;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.discount_item {
  margin-top: 0 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 100%;
  max-width: 370px;
  max-height: 335px;
  border-radius: 20px;
  background-color: #e3e3e3;
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease;
  transform: scale(1);
}

.discount_item:hover {
  background-color: #ffc300;
  transform: scale(1.06);
}

.discount_item_img {
  position: relative;
  width: 290px;
  height: 218px;
}
.discount_item_img_img {
  position: absolute;
  left: 150px;
  top: 65px;
  width: 290px;
  height: 218px;
}
.discount_item_matns_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 0 3rem 1rem;
}
.discount_item_spans span {
  white-space: nowrap;
}
.discount_item_spans {
  display: flex;
  align-items: center;
  gap: 10px;
}
.discount_item_spans_line {
  height: 1px;
  width: 15rem;
  background-color: gray;
}

.discount_item_title_p {
  line-height: 24px;
  color: #504f4f;
  width: 166px;
  height: 64px;
}
.discount_item_title_h3 {
  text-transform: uppercase;
  color: red;
  font-size: 32px;
  line-height: 100%;
  width: 239px;
  height: 48px;
  white-space: nowrap;
}

.discount_item_title_befdis {
  text-decoration: line-through;
  color: #7d7c7c;
  margin-right: 8px;
}
.discount_item_title_afdis {
  color: red;
  font-size: 24px;
}
.discount_item_button button {
  background-color: #504f4f;
  color: #f1f1f1;
  align-items: center;
  padding: 8px 12px;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  gap: 8px;
  margin-top: 1rem;
}
.discount_item_button button:hover {
  cursor: pointer;
}

/* footer */

.footer {
  margin-top: 3rem;
  background-color: rgb(255, 253, 231);
  max-width: 100%;
}

.footer_3_container {
  display: flex;
  justify-content: space-evenly;
}
.footer_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer_left_logotitle {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_left_logotitle_h3 {
  font-size: 32px;
  white-space: nowrap;
}
.footer_left_links {
  display: flex;
  gap: 1.5rem;
}
.footer_left_links a {
  text-decoration: none;
}

.center_right {
  display: flex;
  gap: 30px;
  margin-left: 2rem;
}
.footer_center {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer_center_div1_p {
  font-size: 20px;
  white-space: nowrap;
}

.footer_center_links a {
  color: #323232;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.footer_right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer_right_times_p {
  margin-top: 1.5rem;
  color: #323232;
  white-space: nowrap;
}

.footer_right_title_p {
  font-size: 20px;
}

/* ----------------------------------------------------------------------- */

@media only screen and (min-width: 1001px) {
  .burger_icon {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .nav_btns {
    display: none;
  }

  .header-nav {
    display: grid;
    grid-template-columns: 60px 196px 37px;
  }
  .header_bottom {
    margin-top: 2rem;
  }

  .delivery {
    top: -7px;
    left: -4rem;
  }
}

@media only screen and (max-width: 850px) {
  .header_matn_order_h1 {
    line-height: 59px;
    font-size: 29px;
  }
  .yellow_btn_a {
    gap: 0;
    width: 142px;
  }
  .yellow_btn_a {
    font-size: 13px;
  }

  .footer_3_container {
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
  }
  .center_right {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 700px) {
  .btns_container_after {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .header_bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  .delivery {
    display: none;
  }
  .hamburger_img {
    margin-left: 0;
  }
  .header_bottom {
    text-align: center;
  }
  .btns_container {
    display: none;
  }
  .header_matn_order {
    justify-content: flex-start;
  }
  .hamburger_img {
    margin-top: -10rem;
  }
  .btns_container_after {
    margin-right: auto;
    margin-top: 4rem;
  }
}
